/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url("../fonts/playfair-display-v21-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/playfair-display-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-700 - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
       url("../fonts/playfair-display-v21-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/playfair-display-v21-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bad-script-regular - latin */
@font-face {
  font-family: "Bad Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/BadScript-Regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/BadScript-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/open-sans-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
       url("../fonts/open-sans-v18-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/open-sans-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: #fbebea;
  background-image: url("../img/body-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 280px) 160px;
}

.button {
  display: inline-block;
  padding: 21px 66px;
  border-radius: 26px;
  border: none;
  background-color: #f50049;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER */

.site-header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sitenav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

.logo-link {
  display: block;
  margin-right: 47px;
}

.logo-link__img {
  width: 67px;
  height: 17px;
}

.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav__item {
  margin-right: 44px;
}

.sitenav__link {
  display: block;
  color: #2d2829;
  font-size: 13px;
  font-weight: 400;
  line-height: 32.06px;
  text-transform: uppercase;
  text-decoration: none;
}

.sitenav__item--active .sitenav__link {
  color: #f50049;
}

.site-header__tel-link {
  display: block;
  color: #2d2829;
  font-size: 15px;
  font-weight: 700;
  line-height: 39.53px;
  text-decoration: none;
}


/* HERO */

.hero {
  padding-top: 105px;
  padding-bottom: 180px;
}

.hero__title {
  width: 330px;
  margin: 0;
  margin-bottom: 31px;
  color: #2e2829;
  font-family: "Playfair Display";
  font-size: 78px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 3px;
}

.hero__text {
  font-family: "Bad Script", cursive;
  margin: 0;
  margin-bottom: 58px;
  color: #32313d;
  font-size: 41px;
  font-weight: 400;
  line-height: 77.95px;
}

.hero__button {
  margin-bottom: 128px;
}

.hero__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  display: inline-flex;
  align-items: center;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.hero__item::before {
  display: inline-block;
  margin-right: 14px;
  content: "";
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.hero__item--natural {
  width: 160px;
  margin-right: 70px;
}

.hero__item--natural::before {
  background-image: url("../img/natural-icon.png");
}

.hero__item--delivery {
  width: 250px;
}

.hero__item--delivery::before {
  background-image: url("../img/delivery-icon.png");
}


/* DEMO */

.demo {
  padding-top: 50px;
  padding-bottom: 55px;
}

.demo__title {
  margin: 0;
  margin-bottom: 63px;
  color: #2d2829;
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 700;
  line-height: 65.96px;
}


/* REVIEWS */

.reviews {
  padding-top: 115px;
  padding-bottom: 75px;
  background-image: url("../img/reviews-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.reviews__title {
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
  color: #2d2829;
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 700;
  line-height: 65.96px;
  letter-spacing: 0.15px;
}

.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
}

.review__button {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.review__item {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 625px;
}

.review__info {
  width: 355px;
}

.review__heading {
  margin: 0;
  margin-bottom: 8px;
  color: #2d2829;
  font-size: 27px;
  font-weight: 700;
  line-height: 24px;
}

.review__text {
  margin: 0;
  margin-bottom: 27px;
  color: #2d2829;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.review__blockquote {
  margin: 0;
  color: #2d2829;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.56px;
}

.blockquote__button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f50049;
  color: #f50049;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 25.62px;
  cursor: pointer;
}

.review__img {
  display: block;
  width: 209px;
  height: 209px;
  border-radius: 50%;
}

.reviews__pages {
  width: 750px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  color: #f50049;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.62px;
  opacity: 0.7;
}


/* CONTACTS */

.contacts {
  padding-top: 82px;
  padding-bottom: 300px;
  background-image: url("../img/contacts-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 240px) bottom;
}

.contacts__title {
  margin: 0;
  margin-bottom: 42px;
  color: #2d2829;
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 700;
  line-height: 65.96px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 19px;
  font-family: "Bad Script";
  color: #32313d;
  font-size: 30px;
  font-weight: 400;
}

.contacts__inner {
  display: flex;
  flex-wrap: wrap;
}

.contacts__form {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  margin-right: 85px;
}

.contacts__form-text {
  margin: 0;
  margin-bottom: 50px;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.contacts__form-input {
  width: 100%;
  padding-top: 40px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
}

.contacts__form-button {
  margin-top: 83px;
  text-transform: capitalize;
  color: #fefefe;
  font-size: 19px;
  font-weight: 400
}

.contacts__footer-item {
  display: block;
  margin-bottom: 37px;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.contacts__socials-heading {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.contacts__socials-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts__socials-item {
  margin-right: 30px;
}

.contacts__socials-link {
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}

.instagram {
  background-image: url("../img/instagram-icon.png");
  background-size: 28px;
}

.vkontakte {
  background-image: url("../img/vkontakte-icon.png");
  background-size: 41px 29px;
}







@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  body {
    background-image: url("../img/body-bg@2x.png");
  }

  .hero__item--natural::before {
    background-image: url("../img/natural-icon@2x.png");
  }

  .hero__item--delivery::before {
    background-image: url("../img/delivery-icon@2x.png");
  }

  .reviews {
    background-image: url("../img/reviews-bg.png");
  }

  .instagram {
    background-image: url("../img/instagram-icon@2x.png");
  }

  .vkontakte {
    background-image: url("../img/vkontakte-icon@2x.png");
  }

}